 
  .image_col{
    /* border:  #efefef;
    border-style: solid;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 2px; */
    
    width:33.3%!important; 
    padding:0%;
  }
  