.subSkillsList {
    list-style-type: none;
    padding: 0;
}

.subSkillItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.skillName {
    font-weight: bold;
}

.xpValue {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}
.progressBarContainer {
    width: 100%;
    height: 10px;
    background-color: #ddd;
  }
  
  .progressBar {
    width: 0%;
    height: 100%;
    background-color: #00f; /* Adjust color based on level */
  }
  
  .levelText {
    /* Style the level text */
  }